@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";



footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 40px 0;
  font-family: 'Arial', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  margin-right: 20px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #fff;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #aaa;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #fff;
}







.footer-bottom {
  background-color: #111;
  text-align: center;
  padding: 20px 0;
}

.footer-bottom p {
  font-size: 14px;
  margin: 0;
  color: #aaa;
}

.dropdown-search-content {
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-search-item {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-search-item:hover {
  background-color: #f1f1f1;
}
